In [2]:
library(tidyverse)
library(testthat)
library(digest)
library(repr)
library(tidymodels)
library(cowplot)
library(GGally)
library(ISLR)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following object is masked from ‘package:tidyr’:

    matches


Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard()   masks purrr::discard()
✖ dplyr::filter()     masks stats::filter()
✖ recipes::fixed()    masks stringr::fixed()
✖ testthat::is_null() masks purrr::is_null()
✖ dplyr::lag()        masks stats::lag()
✖ testthat::matches() masks dplyr::matches(), tidyr::matches()
✖ yardstick::spec()   masks readr::spec()
✖ recipes::step()     masks stats::step()

Warning message:
“package ‘cowplot’ was built under R version 4.0.3”
Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [3]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pollution <- read_csv(url)
pollution <- na.omit(pollution)
# pollution[is.na(pollution)] <- 0
pollution <- mutate(pollution, HUMID = 100 - 5 * (TEMP - DEWP))
head(pollution)

Parsed with column specification:
cols(
  No = col_double(),
  year = col_double(),
  month = col_double(),
  day = col_double(),
  hour = col_double(),
  pm2.5 = col_double(),
  DEWP = col_double(),
  TEMP = col_double(),
  PRES = col_double(),
  cbwd = col_character(),
  Iws = col_double(),
  Is = col_double(),
  Ir = col_double()
)

  No year month day hour pm2.5 DEWP TEMP PRES cbwd Iws  Is Ir HUMID
1 25 2010 1     2   0    129   -16  -4   1020 SE   1.79 0  0  40
2 26 2010 1     2   1    148   -15  -4   1020 SE   2.68 0  0  45
3 27 2010 1     2   2    159   -11  -5   1021 SE   3.57 0  0  70
4 28 2010 1     2   3    181    -7  -5   1022 SE   5.36 1  0  90
5 29 2010 1     2   4    138    -7  -5   1022 SE   6.25 2  0  90
6 30 2010 1     2   5    109    -7  -6   1022 SE   7.14 3  0  95

In [4]:
set.seed(9999)

In [5]:
options(repr.matrix.max.rows = 12)
pollute_avg <- pollution %>%
     select(year, month, day, hour, pm2.5, DEWP, TEMP, PRES, Iws, Is, Ir, HUMID) %>%
     group_by(year,month) %>%
     summarise(pm2.5_avg = mean(pm2.5, na.rm = TRUE),TEMP_avg = mean(TEMP, na.rm = TRUE),Iws_avg = mean(Iws, na.rm = TRUE), HUMID_avg = mean(HUMID, na.rm = TRUE))
pollute_avg

pollution_vals <- pollution %>%
    select(pm2.5, DEWP, TEMP, PRES, Iws, Is, Ir, HUMID) %>%
    as_tibble()
pollution_vals

pollution_split <- initial_split(pollution_vals, prop = 3/4, strata = pm2.5)
pollution_training <- training(pollution_split)
pollution_testing <- testing(pollution_split)

`summarise()` regrouping output by 'year' (override with `.groups` argument)

   year month pm2.5_avg TEMP_avg  Iws_avg   HUMID_avg
1  2010 1      90.44257 -6.364472 39.381133 47.94028
2  2010 2      97.23398 -1.918033 13.482191 43.81520
3  2010 3      94.10014  2.983075 24.122863 42.03103
4  2010 4      80.02925 10.805014 58.074666 29.51950
5  2010 5      86.89959 20.856174 21.602564 33.62280
6  2010 6     109.00354 24.458407  9.553717 59.45133
⋮  ⋮    ⋮     ⋮         ⋮         ⋮         ⋮
55 2014  7     89.45590 28.004071 18.363921 56.33650
56 2014  8     62.94270 25.750341  7.413847 60.67531
57 2014  9     70.29371 20.524476  7.223357 68.37063
58 2014 10    140.55585 13.336474  8.259125 65.00673
59 2014 11    104.37819  5.766289 24.853754 42.62748
60 2014 12     78.64804 -1.370112 61.197821 28.72207

      pm2.5 DEWP TEMP PRES Iws    Is Ir HUMID
1     129   -16  -4   1020 1.79   0  0  40
2     148   -15  -4   1020 2.68   0  0  45
3     159   -11  -5   1021 3.57   0  0  70
4     181    -7  -5   1022 5.36   1  0  90
5     138    -7  -5   1022 6.25   2  0  90
6     109    -7  -6   1022 7.14   3  0  95
⋮     ⋮     ⋮    ⋮    ⋮    ⋮      ⋮  ⋮  ⋮
41752 10    -22  -2   1033 226.16 0  0   0
41753  8    -23  -2   1034 231.97 0  0  -5
41754 10    -22  -3   1034 237.78 0  0   5
41755 10    -22  -3   1034 242.70 0  0   5
41756  8    -22  -4   1034 246.72 0  0  10
41757 12    -21  -3   1034 249.85 0  0  10

In [ ]:
set.seed(9999)
ggpairs(data = pollution_training) +
    labs(title = "Graph of Weather Data") + 
    theme(axis.text.x = element_text(angle = 90, hjust = 1), text = element_text(size = 15))

In [8]:
pollution_sumtrain <- pollution_training %>%
    group_by(year, month) %>%
    summarise(meanpm2.5 = mean(pm2.5), meanTEMP = mean(TEMP), meanIws = mean(Iws), meanHUMID = mean(HUMID))
pollution_sumtrain

pollution_sumtrainyear <- pollution_training %>%
    group_by(year) %>%
    summarise(meanpm2.5 = mean(pm2.5), meanTEMP = mean(TEMP), meanIws = mean(Iws), meanHUMID = mean(HUMID))
pollution_sumtrainyear

pollution_sumtrainmonth <- pollution_training %>%
    group_by(month) %>%
    summarise(meanpm2.5 = mean(pm2.5), meanTEMP = mean(TEMP), meanIws = mean(Iws), meanHUMID = mean(HUMID))
pollution_sumtrainmonth

ERROR: Error: Must group by variables found in `.data`.
* Column `year` is not found.
* Column `month` is not found.