In [2]:
library(tidyverse)
library(testthat)
library(digest)
library(repr)
library(tidymodels)
library(cowplot)
library(GGally)
library(ISLR)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following object is masked from ‘package:tidyr’:

    matches


Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard()   masks purrr::discard()
✖ dplyr::filter()     masks stats::filter()
✖ recipes::fixed()    masks stringr::fixed()
✖ testthat::is_null() masks purrr::is_null()
✖ dplyr::lag()        masks stats::lag()
✖ testthat::matches() masks dplyr::matches(), tidyr::matches()
✖ yardstick::spec()   masks readr::spec()
✖ recipes::step()     masks stats::step()

Warning message:
“package ‘cowplot’ was built under R version 4.0.3”
Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [3]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pollution <- read_csv(url)
pollution <- na.omit(pollution)
# pollution[is.na(pollution)] <- 0
pollution <- mutate(pollution, HUMID = 100 - 5 * (TEMP - DEWP))
head(pollution)

Parsed with column specification:
cols(
  No = col_double(),
  year = col_double(),
  month = col_double(),
  day = col_double(),
  hour = col_double(),
  pm2.5 = col_double(),
  DEWP = col_double(),
  TEMP = col_double(),
  PRES = col_double(),
  cbwd = col_character(),
  Iws = col_double(),
  Is = col_double(),
  Ir = col_double()
)

  No year month day hour pm2.5 DEWP TEMP PRES cbwd Iws  Is Ir HUMID
1 25 2010 1     2   0    129   -16  -4   1020 SE   1.79 0  0  40
2 26 2010 1     2   1    148   -15  -4   1020 SE   2.68 0  0  45
3 27 2010 1     2   2    159   -11  -5   1021 SE   3.57 0  0  70
4 28 2010 1     2   3    181    -7  -5   1022 SE   5.36 1  0  90
5 29 2010 1     2   4    138    -7  -5   1022 SE   6.25 2  0  90
6 30 2010 1     2   5    109    -7  -6   1022 SE   7.14 3  0  95

In [9]:
set.seed(9999)

In [4]:
options(repr.matrix.max.rows = 12)
pollute_avg <- pollution %>%
     select(year, month, day, hour, pm2.5, DEWP, TEMP, PRES, Iws, Is, Ir, HUMID) %>%
     group_by(year,month) %>%
     summarise(pm2.5_avg = mean(pm2.5, na.rm = TRUE),TEMP_avg = mean(TEMP, na.rm = TRUE),Iws_avg = mean(Iws, na.rm = TRUE), HUMID_avg = mean(HUMID, na.rm = TRUE))
pollute_avg

pollution_vals <- pollution %>%
    select(pm2.5, DEWP, TEMP, PRES, Iws, Is, Ir, HUMID) %>%
    as_tibble()
pollution_vals

pollution_split <- initial_split(pollution_vals, prop = 3/4, strata = pm2.5)
pollution_training <- training(pollution_split)
pollution_testing <- testing(pollution_split)

`summarise()` regrouping output by 'year' (override with `.groups` argument)

   year month pm2.5_avg TEMP_avg  Iws_avg   HUMID_avg
1  2010 1      90.44257 -6.364472 39.381133 47.94028
2  2010 2      97.23398 -1.918033 13.482191 43.81520
3  2010 3      94.10014  2.983075 24.122863 42.03103
4  2010 4      80.02925 10.805014 58.074666 29.51950
5  2010 5      86.89959 20.856174 21.602564 33.62280
6  2010 6     109.00354 24.458407  9.553717 59.45133
⋮  ⋮    ⋮     ⋮         ⋮         ⋮         ⋮
55 2014  7     89.45590 28.004071 18.363921 56.33650
56 2014  8     62.94270 25.750341  7.413847 60.67531
57 2014  9     70.29371 20.524476  7.223357 68.37063
58 2014 10    140.55585 13.336474  8.259125 65.00673
59 2014 11    104.37819  5.766289 24.853754 42.62748
60 2014 12     78.64804 -1.370112 61.197821 28.72207

      pm2.5 DEWP TEMP PRES Iws    Is Ir HUMID
1     129   -16  -4   1020 1.79   0  0  40
2     148   -15  -4   1020 2.68   0  0  45
3     159   -11  -5   1021 3.57   0  0  70
4     181    -7  -5   1022 5.36   1  0  90
5     138    -7  -5   1022 6.25   2  0  90
6     109    -7  -6   1022 7.14   3  0  95
⋮     ⋮     ⋮    ⋮    ⋮    ⋮      ⋮  ⋮  ⋮
41752 10    -22  -2   1033 226.16 0  0   0
41753  8    -23  -2   1034 231.97 0  0  -5
41754 10    -22  -3   1034 237.78 0  0   5
41755 10    -22  -3   1034 242.70 0  0   5
41756  8    -22  -4   1034 246.72 0  0  10
41757 12    -21  -3   1034 249.85 0  0  10

In [ ]:
set.seed(9999)
ggpairs(data = pollution_training) +
    labs(title = "Graph of Weather Data") + 
    theme(text = element_text(size = 20))

In [12]:
pollution_sumtrain <- pollution_training %>%
    group_by(year, month) %>%
    summarise(meanpm2.5 = mean(pm2.5), meanTEMP = mean(TEMP), meanIws = mean(Iws), meanHUMID = mean(HUMID))
pollution_sumtrain

pollution_sumtrainyear <- pollution_training %>%
    group_by(year) %>%
    summarise(meanpm2.5 = mean(pm2.5), meanTEMP = mean(TEMP), meanIws = mean(Iws), meanHUMID = mean(HUMID))
pollution_sumtrainyear

pollution_sumtrainmonth <- pollution_training %>%
    group_by(month) %>%
    summarise(meanpm2.5 = mean(pm2.5), meanTEMP = mean(TEMP), meanIws = mean(Iws), meanHUMID = mean(HUMID))
pollution_sumtrainmonth

`summarise()` regrouping output by 'year' (override with `.groups` argument)

   year month meanpm2.5 meanTEMP   meanIws   meanHUMID
1  2010  1     77.84053 -6.1125704 41.215816 45.609756
2  2010  2     97.08644 -1.9960707 13.898978 43.398821
3  2010  3     92.34552  3.4223035 23.210073 43.272395
4  2010  4     77.57065 10.8170290 61.197065 28.306159
5  2010  5     86.68739 20.9822380 22.396572 33.685613
6  2010  6     85.87774 24.3467153 10.198996 56.669708
7  2010  7    125.40472 27.6497278 14.318385 66.206897
8  2010  8     90.87156 25.6201835 15.339229 64.807339
9  2010  9     80.28143 20.1013133 13.432983 65.525328
10 2010 10    118.89762 12.3893967 20.735960 65.109689
11 2010 11    128.60980  3.6352087 46.436733 53.430127
12 2010 12     98.78087 -1.8695652 54.960730 31.582609
13 2011  1     40.09825 -5.5000000 75.869491 27.192982
14 2011  2    154.40594 -0.6831683 16.192040 53.732673
15 2011  3     47.94075  6.9012567 44.382118  6.086176
16 2011  4     66.64014 14.4918626 26.492025 18.065099
17 2011  5     62.57932 20.5971480 43.908360 23.190731
18 2011  6    105.75451 25.5415162 14.738791 51.904332
19 2011  7    109.02550 26.4316940 10.479399 75.336976
20 2011  8     77.70671 25.7243816 11.685813 78.957597
21 2011  9     96.84587 19.2990826 11.916624 65.660550
22 2011 10    118.23993 13.1410256  9.039029 66.163004
23 2011 11    108.44751  5.9189687 17.492228 59.972376
24 2011 12    104.57838 -2.3675676 28.853297 51.342342
25 2012  1    103.98739 -4.7477477 25.275279 47.405405
26 2012  2     85.44487 -2.4932302 29.811896 28.713733
27 2012  3     98.13661  5.0346084 34.304863 34.590164
28 2012  4     87.40858 15.4458955 29.954086 24.132463
29 2012  5     83.84314 21.9696970 17.927825 34.358289
30 2012  6     94.96462 24.4227188 11.383799 58.854749
31 2012  7     75.96959 26.6422182 12.687478 73.917710
32 2012  8     67.14464 25.1214286 11.286286 73.348214
33 2012  9     57.22222 20.1592593 13.666667 60.685185
34 2012 10     93.69258 13.2296820 16.247915 55.689046
35 2012 11     86.58379  3.6169429 48.155064 50.460405
36 2012 12     89.06261 -5.4007156 36.715725 57.862254
37 2013  1    194.64965 -5.4436620 20.491215 65.501761
38 2013  2    125.81967 -1.5983607 12.846496 46.547131
39 2013  3    125.48244  5.2957486 17.850795 37.550832
40 2013  4     65.21468 12.3981651 42.361193 16.229358
41 2013  5     80.32069 21.5000000 19.095828 30.801724
42 2013  6    112.68727 23.7453184 11.215787 65.945693
43 2013  7     67.61759 27.1651706 11.949192 64.434470
44 2013  8     61.57876 26.5504425 14.133752 59.902655
45 2013  9     89.54815 20.2481481  8.542463 61.750000
46 2013 10    105.69565 12.7500000 12.287971 50.199275
47 2013 11     92.29795  5.9664804 46.489367 16.694600
48 2013 12     97.53734 -0.4244080 36.481931 18.069217
49 2014  1    116.25224 -0.9409660 18.381646 27.128801
50 2014  2    174.71937 -0.5948617 15.686937 42.519763
51 2014  3    108.27400  9.5636998 15.062461  4.930192
52 2014  4     95.23540 16.8631387 14.163431 23.731752
53 2014  5     71.43233 21.2988722 31.780226 26.785714
54 2014  6     58.56716 24.5839552  9.607799 56.837687
55 2014  7     86.19115 28.0584071 18.273434 55.362832
56 2014  8     63.06762 25.7064057  7.808488 61.218861
57 2014  9     68.04152 20.4963899  7.067870 68.005415
58 2014 10    140.57857 13.4160714  8.048500 65.017857
59 2014 11    101.35104  5.5047438 25.858994 43.102467
60 2014 12     79.13612 -1.2921960 58.130254 29.283122

`summarise()` ungrouping output (override with `.groups` argument)

  year meanpm2.5 meanTEMP meanIws  meanHUMID
1 2010  96.76793 11.64800 28.32749 49.68798
2 2011  90.27650 12.52983 26.18118 47.97093
3 2012  85.30036 11.97797 23.87741 50.19599
4 2013 101.34487 12.50381 21.16345 44.51419
5 2014  96.54557 13.65571 19.08645 41.96638

`summarise()` ungrouping output (override with `.groups` argument)

   month meanpm2.5 meanTEMP  meanIws  meanHUMID
1   1    106.85961 -4.540754 36.32164 42.54578
2   2    127.27723 -1.477624 17.77069 42.89109
3   3     94.33321  6.080593 26.93827 25.00542
4   4     78.36613 13.994879 34.87003 22.09217
5   5     77.05971 21.270647 26.91528 29.80515
6   6     91.62495 24.534515 11.44572 57.99003
7   7     92.69364 27.192736 13.56171 67.00108
8   8     71.95997 25.746605 12.03299 67.66798
9   9     78.36357 20.061578 10.90076 64.34366
10 10    115.37135 12.988452 13.26753 60.40419
11 11    103.56979  4.918919 36.95876 44.82969
12 12     93.86088 -2.277877 43.09733 37.66762